# terraform/terraform.tfvars.example
project_id         = "my-gcp-production-project"
region             = "us-central1"
artifact_repo_name = "dayflow-hrms-repo"

database_url       = "postgresql://dayflow_admin:<db_password>@<db_host>:5432/dayflow_hrms?schema=public"
jwt_secret         = "super_secure_enterprise_jwt_token_key_at_least_32_chars"

backend_min_instances  = 1
backend_max_instances  = 10
frontend_min_instances = 1
frontend_max_instances = 10
